<h1>Password validator</h1>
<form action="/validate" method="POST">
  <div class="form-group">
    <label for="email">Email:</label>
    <input type="email" name="email" placeholder="Email" id="email" class="form-control">
  </div>

  <div class="form-group">
    <label for="password">Password:</label>
    <input type="password" name="password" placeholder="Password" id="password" class="form-control">
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-primary">Validate</button>
  </div>
</form>

<% if @validation == true %>
  <div class="alert alert-success">
    <p><b>Nice!</b></p>
    <p>You're password is secure!</p>
  </div>
<% elsif @validation == false %>
  <div class="alert alert-danger">
    <p><b>Ooops!</b></p>
    <p>You're password is insecure!</p>
  </div>
<% end %>
